input[type='text'] {    
  margin-top: 50px;
  border: none;
  border-bottom:2px solid grey;
  width: 350px;
  height: 25px;
  font-weight: bolder;
  font-size: large;
}
.task-list {
  list-style-type: none;
  padding: 20px;
  margin: 0;
}
.task-list li {
  
  font-size: x-large;

}
.red,.yellow,.green{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 100%;
  margin: 10px 5px;
}